/*******************************************************************************
 * Bootstrap overrides
 ******************************************************************************/
.container {
  max-width: 970px;
}

.navbar-background {
  opacity: 0.75;
  background-color: #000000;
}

.navbar,
.navbar-brand {
  min-height: 75px;
}

.navbar-brand {
  width: 185px;
  background: url('../img/forge-software-logo.png') 0 8px no-repeat;
  text-indent: -9999px;
}

.btn-primary {
  border: none;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ff8000;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #ff8000;
}

a:hover { text-decoration: none !important; }

/*******************************************************************************
 * Custom
 ******************************************************************************/
body {
  color: #ffffff;
}

h2, h3, h4 {
  text-transform: uppercase;
}

h2 {
  display: inline-block;
  padding: 20px 30px;
  background: #000000;
}

h2 span.hidden-xs { font-size: 48px; }
h2 span.visible-xs { font-size: 36px; }

h3 {
  font-size: 27px;
}

h4 {
  margin-bottom: 7px;
  font-size: 24px;
  color: #ff8000;
}

h5 {
  display: inline-block;
  padding-bottom: 7px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ff8000;
}

p {
  font-size: 13px;
  color: #ffffff;
}

.container-wide {
  max-width: 1080px !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.navbar-right > a {
  margin-top: 20px;
}

.navbar-right a.pull-left {
  margin-right: 35px;
}

.contact-group > span {
  display: block;
  margin-left: 10px;
  color: #ffffff;
  line-height: 1.2;
}

.contact-copy {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-info {
}

.navbar-right .nav-copy {
  font-size: 12px;
}

#background {
  height: 442px;
  background: url('../img/molten.jpg') center center no-repeat;
  background-size: cover;
}

#background > h2 {
  position: relative;
  top: 192px;
}

.legendary {
  color: #ff8000;
  text-transform: uppercase;
}

section {
  padding-top: 40px;
  padding-bottom: 65px;
}

.dark   { background-color: #111111; }
.light  { background-color: #1f1f1f; }

.dark a {
  text-transform: none;
  color: #fff;
}

.subhead {
  margin: 0 0 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid #ff8000;
}

#quote-btn {
  margin-top: 60px;
}

.icon {
  background-color: #ff8000;
  color: #ffffff;
}

a:hover .icon { color: #1f1f1f; }

.navbar .icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  font-size: 18px;
  border-radius: 2px;
}

.mobile-cta {
  padding: 15px;
}

.mobile-cta .icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  padding: 7px;
  font-size: 27px;
}

.details > .icon {
  height: 68px;
  width: 68px;
  padding: 12px;
  margin-right: 40px;
  font-size: 45px;
  border-radius: 4px;
}

.details {
  margin-top: 30px;
}

.technology {
  margin-top: 80px;
}

.technology > .row {
  margin-top: 40px;
}

.tech-list p {
  font-size: 17px;
}

.tech-list li {
  list-style-image: url('../img/list-style.png');
  list-style-position: inside;
  text-indent: -40px;
}

.tech-title {
  color: #555555;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.tech-list p + ul {
  margin-top: -10px;
}

p + .tech-title {
  display: block;
  padding-top: 10px;
}

.sprite {
  display: inline-block;
  background: url('../img/sprite.png') 0 0 no-repeat transparent;
}

.sprite-arrow {
  width: 31px;
  height: 59px;
}

.sprite-arrow:hover {
  cursor: pointer;
}

.sprite-arrow-left  { background-position: 0 0; }
.sprite-arrow-right { background-position: -32px 0; }

.sprite-quote {
  width: 48px;
  height: 42px;
}

.sprite-quote-left  { background-position: 0 -59px; }
.sprite-quote-right { background-position: -49px -59px; }

.carousel-control {
  width: 31px;
  background: none !important;
}

#quote-carousel {
  padding-bottom: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #555555;
}

#quote-carousel .sprite-arrow { margin-top: 50px; }

.carousel .item {
  height: 160px;
}

.quote-body {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-style: italic;
}

.quote-person,
.quote-company {
  display: block;
}

.quote-person {
  margin-top: 15px;
  font-size: 15px;
}

.quote-company {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

#quote-1 { margin-top: 30px; }
#quote-1 .quote-body {
  font-size: 14px;
}

/* Overrides for re-using the nav contact code */
#contact-line span { color: #555555; }
#contact-line .pull-right { margin-left: 30px; }
#contact-line .contact-group span { margin-left: 0; }

#contact-line .social-icon {
  margin: 2px;
  font-size: 23px;
}

#contact-line .social-icon.ss-twitter:hover { color: #55acee; }
#contact-line .social-icon.ss-octocat:hover { color: #ffffff; }
